<div class="full-page" fxLayout="row" fxLayoutAlign="center center">
  <form nz-form class="login-box">
    <nz-form-item>
      <nz-form-label>Email</nz-form-label>
      <nz-form-control>
        <input placeholder="email" nzSize="large" type="text" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Password</nz-form-label>
      <nz-form-control>
        <input placeholder="password" nzSize="large" type="password" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="right-aligned-button">
      <nz-form-control>
        <button nzSize="large" nz-button nzType="primary">Login</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
