<div class="full-page" fxLayout="row" fxLayoutAlign="center center">
  <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-box">
    <nz-form-item>
      <nz-form-label>Email</nz-form-label>
      <nz-form-control>
        <input placeholder="email" nzSize="large" type="text" nz-input name="email" formControlName="email">
        <nz-form-explain *ngIf="form.get('email').invalid && form.get('email').dirty">
          Please enter a valid email address...
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Password</nz-form-label>
      <nz-form-control>
        <input placeholder="password" nzSize="large" type="password" nz-input name="password"
               formControlName="password">
      </nz-form-control>
      <nz-form-explain *ngIf="form.get('password').invalid && form.get('password').dirty">
        You must enter a valid password (at least 8 characters).
      </nz-form-explain>
    </nz-form-item>

    <nz-form-item class="right-aligned-button">
      <nz-form-control>
        <button nzSize="large" nz-button nzType="primary" [disabled]="form.invalid"
                [nzLoading]="(submitState$ | async)?.loading">Login
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="(submitState$ | async).hasFailed">
      <nz-form-control>
        <nz-alert
          nzType="error"
          nzCloseable
          nzMessage="Login Failed"
          [nzDescription]="(submitState$ | async).errorMessage"
        >
        </nz-alert>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="(submitState$ | async).wasSuccessful">
      <nz-form-control>
        <nz-alert
          nzType="success"
          nzCloseable
          nzMessage="Login Success"
          [nzDescription]="(submitState$ | async).successMessage"
        >
        </nz-alert>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
